name: Tests

on: [push, pull_request]

jobs:
  test:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest]
        python-version: ['3.10', '3.13']
    
    steps:
      - uses: actions/checkout@v5
      - uses: astral-sh/setup-uv@v7
        with:
          enable-cache: true
      - name: Check test collection
        run: uv run --python ${{ matrix.python-version }} pytest --collect-only -q
      - name: Run tests
        run: uv run --python ${{ matrix.python-version }} pytest . -ra --strict-config --strict-markers
